<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-right" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3" style="padding-top:20px">
                <ul class="nav nav-list">
                    <li>@Html.ActionLink("Url管理", "UrlIndex", "Manage")</li>
                    <li>@Html.ActionLink("其它设置", "Index", "Manage")</li>
                </ul>
            </div><!--/span-->
            <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <hr />
    <footer>
        copyRight ..
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
